<div class="row">
    <div class="col">
        <div class="card-top">
            <div class="card-header bg-transparent mb-3 border-0">
                <h2 class="text-white">Match Details</h2>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <h3>Match tussen {{match.elderly.name}} en {{match.volunteer.name}}</h3>
                <h5 class="m-0">Sinds {{match.dateCreated | date: 'dd/MM/yyyy'}}</h5>
            </div>
            <div class="card-body">
                hai
            </div>
        </div>
    </div>
</div>