<div class="row">
    <div class="col">
        <div class="card-top">
            <div class="card-header bg-transparent mb-3 border-0">
                <h2 class="text-white">Instellingen</h2>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-11 col-md-6 mx-auto">
        <div class="card">
            <div class="card-header">
                <h4 class="m-0">Wachtwoord Wijzigen</h4></div>
            <div class="card-body">
                <!--<div class="input-group mb-3">
                    <span class="input-group-addon" id="basic-addon1"><i class="fa fa-user" aria-hidden="true"></i></span>
                    <input type="email" class="form-control disabled" [(ngModel)]="email" placeholder="Email">
                </div>-->
                <div class="input-group mb-3">
                    <span class="input-group-addon" id="basic-addon1"><i class="fa fa-unlock-alt" aria-hidden="true"></i></span>
                    <input type="password" class="form-control" [(ngModel)]="password" placeholder="Wachtwoord">
                </div>
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1"><i class="fa fa-unlock-alt" aria-hidden="true"></i></span>
                    <input type="password" class="form-control" [(ngModel)]="confirmPassword" placeholder="Wachtwoord Bevestigen">
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-primary pull-right">Wachtwoord Wijzigen</button>
            </div>
        </div>
    </div>
</div>