html, body {
    background-color: #f3f3f3;
    font-size: 13px;
}

router-outlet {
    width: 100%;
}

.navbar-extended-background {
    /*z-index: -1;*/
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 0;
    background-color: #5C6BC0;
    height: 40vh;
    -webkit-transition: height 1s;
}

    .navbar-extended-background.loggedin {
        height: 184px;
    }

.card {
    border: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    position: relative;
    background-color: #fff;
    margin-bottom: 20px;
    /*width: 100%;*/
    -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,.1);
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.1);
}

    .card .card-header {
        background-color: transparent;
    }

.card-top {
    margin-top: 24px;
}

.card-body {
    padding: 20px 24px;
}

    .card-body p {
        color: rgba(0,0,0,0.87);
    }

.card-header {
    max-height: 92px;
    padding: 1.5rem 2rem;
}

    .card-header p {
        color: rgba(0,0,0,0.54)
    }

h1, h2, h3, h4, h5 {
    font-weight: 300;
    letter-spacing: normal;
    color: rgba(0,0,0,0.87);
}

p, li {
    font-weight: 400;
}

.navbar {
    min-height: 72px;
}

.table {
    white-space: nowrap
}

    .table th, .table td {
        border-top: 0;
        border-bottom: 1px solid #e9ecef;
        padding-left: 24px;
    }

    .table thead th {
        border-top: 0;
        border-bottom: 1px solid #e9ecef;
    }

    .table tr {
        padding-left: 20px;
        padding-right: 20px;
    }

th {
    font-weight: 400;
}

.btn {
    font-size: 1rem;
}

.btn-link {
    vertical-align: baseline;
}

ul {
    padding: 0;
}

.listitem {
    width: 100%;
    border-radius: 0 !important;
    border: 0;
    margin: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    padding: 0.75em 25px;
    display: block;
}

    .listitem:hover {
        background-color: rgba(0,0,0,0.075);
        box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
    }

    .listitem:active {
        background-color: rgba(0,0,0,0.125);
        box-shadow: 0 1px 4px 0 rgba(0,0,0,.1);
    }

.modal-content {
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.07);
}

.darker-bg .modal-content {
    background-color: #F5F5F5;
}

.darker-bg .modal-footer {
    border-top-color: lightgray;
}

.darker-bg .modal-header {
    border-bottom-color: lightgray;
}

li .btn {
    font-size: 18px;
    padding: 0.2rem 0.5rem;
    margin-top: -5px;
}
