<div class="row">
    <div class="col">
        <div class="card-top">
            <div class="card-header bg-transparent mb-3 border-0">
                <h2 class="text-white">Overzicht</h2>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header">
                <h4 class="">Beschikbare Personen</h4>
                <select class="custom-select" (change)="updateAvailablePersons($event.target.value)">
                    <option selected value=0>Iedereen</option>
                    <option value=1>Ouderen</option>
                    <option value=2>Vrijwillegers</option>
                </select>
            </div>
            <table class="table table-hover table-responsive">
                <thead>
                    <tr>
                        <th>Naam</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let person of availablePersons">
                        <td>{{ person.name }}</td>

                        <td>
                            <button (click)="openDetailsModal(formModalTemplate, person)">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="card">
            <div class="card-header">
                <h4 class="">Matches</h4>
                <select class="custom-select">
                    <option selected>Datum Matched</option>
                    <option>Laatste Opmerking</option>
                </select>
            </div>
            <table class="table table-hover table-responsive">
                <thead>
                    <tr>
                        <th>Oudere</th>
                        <th>Vrijwilleger</th>
                        <th>Gematched sinds</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let match of matches">
                        <td>{{ match.elderly.name }}</td>
                        <td>{{ match.volunteer.name }}</td>
                        <td>{{ match.dateCreated | date: 'dd/MM/yyyy'}}</td>

                        <td>
                            <button (click)="openDetailsModal(person)">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>