<div class="row">
    <div class="col-12">
        <div class="card card-top">
            <div class="card-header">
                <h2 class="m-0">Overzicht</h2>
            </div>
            <div class="card-body">
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header">
                <h4 class="">Beschikbare Personen</h4>
                <select class="custom-select">
                    <option selected>Iedereen</option>
                    <option>Ouderen</option>
                    <option>Vrijwillegers</option>
                </select>
            </div>
            <div class="card-body">

            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="card">
            <div class="card-header">
                <h4 class="">Matches</h4>
                <select class="custom-select">
                    <option selected>Datum Matched</option>
                    <option>Laatste Opmerking</option>
                </select>
            </div>
            <div class="card-body">
            </div>
        </div>
    </div>
</div>